/* Navbar */
.navbar {
  list-style: none;
  padding: 20px 0;
  margin: 0;
  background-color: #29b929; /* Blue background color */
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  height: 80px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
} 

/* Navbar Brand */
.navbar-brand {
  color: #fff; /* White color */
  text-decoration: none;
  font-size: 24px;
}

/* Navbar Heading */
.navbar-heading {
  font-size: 28px;
  margin: 0;
  color: #fff; /* White color */
}

/* Navbar Links */
.navbar-links {
  display: flex;
  align-items: center;
}

.navbar-links li {
  margin-left: 20px; /* Space between navbar items */
}

.navbar-links li a {
  color: #fff; /* White color */
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for link color */
}

.navbar-links li a:hover {
  color: #f1c40f; /* Yellow color on hover */
}

/* Main Heading */
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 36px;
  margin: 20px 0; /* Space below and above the heading */
  color: #34495e; /* Dark blue color */
  text-align: center; /* Center align the heading */
}
